:root {
  --primary: #2563eb;
  --secondary: #9333ea;
  --dark: #0f172a;
  --light: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--light);
  color: var(--dark);
}
